section.anastasia
  img.anastasia__avatar(src=require("../../images/anastasia.png"))
  .anastasia__about-me
    h1.anastasia__title Обо мне или…
    .anastasia__text-block
      p.anastasia__paragraph Всем привет! Меня зовут Анастасия Анару. Я графический дизайнер-иллюстратор. Разве не примитивное начало, да? Так начинаются любые тексты с рассказом о себе, но ведь важно поговорить о вас!
      p.anastasia__paragraph Да, я окончила институт с отличием по направлению дизайн  и по сей день я набиваю руку и развиваю насмотренность.
      p.anastasia__paragraph 
      span.anastasia__accent-text Но для вас ведь важен результат, верно?
      p.anastasia__paragraph Я помогу вам качественно воплотить в реальность ваши смелые пожелания и разработать продающий дизайн. Давайте создадим визуал, который будет работать на вас, а не против!