section.reviews
  .reviews__wrapper
    .reviews__gallery
      .reviews__item
        img.reviews__img(src=require(`@images/reviews/1.png`))
      .reviews__item
        img.reviews__img(src=require(`@images/reviews/2.png`))
      .reviews__item
        img.reviews__img(src=require(`@images/reviews/3.png`))