.popup
  include ../popup-overlay/popup-overlay
  .popup__wrapper
    .popup__inner
      button.popup__close-button
        img.popup__close-img(src=require("../../images/popup/close.png"))
      //- button.popup__arrow-button.popup_arrow-one
      //-   img.popup__arrow-img(src=require("../../images/popup/arrow.png"))
      //- button.popup__arrow-button.popup_arrow-two
      //-   img.popup__arrow-img(src=require("../../images/popup/arrow.png"))
      img.popup__image(src=require("../../images/formStyle/7.jpg"))
    .popup__toster
      .popup__text тут типа текст