//- mixins
include ../line/line
include ../cases/cases

//- markup
main.main
  include ../about/about
  include ../anastasia/anastasia
  +line("какой результат получили мои клиенты", "line_one")
  +cases("Полиграфия", "cases_one")
  +cases("Полиграфия", "cases_one")
  +cases("Полиграфия", "cases_one")
  +line("отзывы", "line_two")
