section.about
  .about__promo
    img.about__anastasia(src=require("../../images/ANASTASIA.svg"))
    img.about__logo(src=require("../../images/logo.svg"))
    p.about__description Графический дизайнер-иллюстратор
  img.about__avatar(src=require("../../images/avatar.png"))