@import "../../vendor/vars.scss";

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  column-gap: 18px;
  height: 140px;
  font-size: 36px;
  font-weight: 300;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  opacity: .95;
  box-shadow: 0 3px 5px rgba($color: #000000, $alpha: 0.06);
  &__logo-wrapper {
    display: flex;
    align-items: center;
    background-color: #d2f3ff;
  }
  &__logo {
    padding: 0 130px;
  }
  &__menu-wrapper {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe6e7;
  }
  &__burger-menu-checkbox {
    display: none;
  }
  &__menu {
    max-width: 1020px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 12px;
    margin: 0 20px;
    list-style-type: none;
  }
  &__menu-item {
    position: relative;
    margin: 0;
    transition: all 0.2s ease-in-out;
    height: 100%;
    &:hover {
      opacity: 0.8;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 22.5px;
      z-index: 1;
      bottom: 0;
      transition: background-color 0.2s ease-in-out;
      background-color: transparent;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
    &:hover::before {
      background-color: #fff;
    }
  }
  &__menu-link {
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    color: #000d52;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
  }
  &__burger-menu {
    display: none;
  }
}

@media screen and (max-width: $laptop-1440) {
  .header {
    height: 80px;
    column-gap: 10px;
    font-size: 28px;
    &__logo {
      padding: 0 100px;
      width: 280px;
    }
    &__menu {
      margin: 0 30px;
      max-width: 700px;
    }
    &__menu-item::before {
      height: 12px;
    }
  }
}

@media screen and (max-width: $laptop-1200) {
  .header {
    font-size: 24px;
    &__logo {
      padding: 0 60px;
      width: 250px;
    }
    &__menu {
      max-width: 600px;
    }
    &__menu-item::before {
      display: none;
    }
  }
}

@media screen and (max-width: $tablet-992) {
  .header {
    height: 60px;
    column-gap: 7px;
    font-size: 20px;
    &__logo {
      padding: 0 30px;
      width: 200px;
    }
    &__menu {
      max-width: 550px;
    }
    &__menu-item::before {
      height: 8px;
    }
  }
}

@media screen and (max-width: $tablet-768) {
  .header {
    column-gap: 0px;
    &__menu-wrapper {
      flex-grow: 0;
      min-width: 60px;
    }
    &__menu {
      position: absolute;
      background-color: rgba($color: #fff, $alpha: 0.95);
      height: 100vh;
      min-width: 50vw;
      max-width: 50vw;
      top: 0;
      right: 0;
      margin: 0;
      flex-direction: column;
      justify-content: flex-start;
      row-gap: 30px;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
      &-item {
        height: min-content;
        &:first-child {
          margin-top: 90px;
        }
      }
    }
    &__logo-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    &__burger-menu {
      z-index: 6;
      position: relative;
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border: none;
      padding: 0;
      transition: all 0.09s ease-in-out;
      &-line {
        display: block;
        width: 50%;
        height: 3px;
        background-color: red;
      }
      &-checkbox {
        position: absolute;
        display: block;
        height: 60px;
        width: 60px;
        margin: 0;
        padding: 0;
        z-index: 8;
        opacity: 0;
        &:checked ~ .header__menu {
          transform: translateX(0);
        }
        // cross
        &:checked ~ .header__burger-menu {
          row-gap: 0;
          position: relative;
        }
        &:checked ~ .header__burger-menu .header__burger-menu-line {
          position: absolute;
          transition: all 0.09s ease-in-out;
        }
        &:checked ~ .header__burger-menu .header__burger-menu-line:first-child {
          transform: rotate(45deg);
          background-color: #000;
        }
        &:checked
          ~ .header__burger-menu
          .header__burger-menu-line:nth-child(2) {
          display: none;
        }
        &:checked ~ .header__burger-menu .header__burger-menu-line:last-child {
          transform: rotate(135deg);
          background-color: #000;
        }
      }
    }
  }
}

@media screen and (max-width: $mobile-576) {
  .header {
    &__menu {
      max-width: 60vw;
      min-width: 60vw;
    }
  }
}