footer.footer
  .footer__wrapper 
    .footer__inner
      ul.footer__social-webs
        li.footer__social-item
          a.footer__social-link(href="#")
            img.footer__social-image(src=require(`@images/icons/telegram.svg`))
        li.footer__social-item
          a.footer__social-link(href="#")
            img.footer__social-image(src=require(`@images/icons/vk.svg`))
        li.footer__social-item
          a.footer__social-link(href="#")
            img.footer__social-image(src=require(`@images/icons/whatsapp.svg`))
      .footer__description
        p.footer__text Графический дизайнер-иллюстратор 
        p.footer__text Анастасия Анару, 2023 год
