-
  var siteTitle = 'ANARU - дизайнер-иллюстратор'
  var lang = 'ru';

doctype html
html(lang=lang)
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{ siteTitle }
  body.body
    include ./components/header/header
